/* .form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0%;
} */
.form .inputField{
    display :flex;  
    margin-bottom: 5px;
    
}
label{
    /* margin-right: 6%; */
    font-weight: bold;
    font-style: italic;
}
.content{
    /* display: flex; */
    border : 2px solid black;
    /* justify-content: center; */
    width: 50%;
    padding: 1% 6% 1% 1%;

 border-radius: 5px;
    position: absolute;
    top: 30%;
    left: 30%;
}
h3{
    text-align: center;
}
.create{
 float: right;
}