.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.content div{
border : 5px solid lightsteelblue;
border-radius: 10px;
margin: 4%;
padding: 5%;
align-content: center;
font-size: large;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-style: oblique;
font-weight: bold;
border-style:double;
background-image: linear-gradient(grey,white);

}
.content div:hover{
    cursor: pointer;
}

table{
    border : 2px solid black;
    width: 70%;
    position: relative;
    top: 10%;
    left: 15%;
    font-style: oblique;
}

.operation button{
    margin-right: 2px;
}
.operation{
    display: flex;
}