

<div *ngIf="show">
<table style="margin-top: 2%;" class="table responsive-lg" >
  <thead>
    <th>
      Sr.no
    </th>
    <th>
      Id
    </th>
    <th>
      Task
    </th>
    <th>
      Assigned To ID
    </th>
    <th>
     Assigned To Name
    </th>
    <th>
      Created On
    </th>
    <th>
      Due Date
    </th>
   
    <th>
      Operations
    </th>
    <th> <input type="text" placeholder="TaskMessage" [(ngModel)]="searchedTask" /></th>
  </thead>
  <tbody>
  <tr *ngFor="let task of FilteredtaskList,let i = index">
    <td>{{i}}</td>
  <td>{{task.id}}</td>
  <td>{{task.message}}</td>
  <td>{{task.assigned_to}}</td>
  <td>{{task.assigned_name}}</td>
  <td>{{task.created_on}}</td>
  <td>{{task.due_date}}</td>

  <td class="operation"><button class="btn btn-sm  btn-info" [routerLink]="['/update']" routerLinkActive="router-link-active"  [state]="{ data:task}">UPDATE</button>
    <button class="btn btn-sm btn-danger" (click)="delete(task.id,i)">DELETE</button></td>

    <td>   </td>
  </tr>
  </tbody>
</table>
<!-- <div class="tables"> -->
<app-taskbasedonpriorty   [data]='taskList'></app-taskbasedonpriorty>
<!-- </div> -->
</div>