

table{
    border : 2px solid black;
    width: 70%;
    position: relative;
    top: 10%;
    left: 15%;
    font-style: oblique;
}

.operation button{
    margin-right: 2px;
}
.operation{
    display: flex;
}
.tables{
    display: flex;
    flex-direction: column;
    width: 40%;

    position: absolute;
    top: 10%;
    left: 25%;
    
}

