table{
    border: 2px solid black;
    border-radius: 10px;
    /* margin: 1%; */
   /* margin: auto; */
   
   
   
}

h4{
    text-align: center;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.mat-cell,.mat-header-cell{
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}

.tables{
    display: flex;
  
    flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-around;
}
.tables div{
    margin-right: 3%;
}
